<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h2>Table With Border</h2>

<p>Use the CSS border property to add a border to the table.</p>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Email</th> 
    <th>Contact</th>
    <th>Delete</th>
  </tr>

  <tr>
    {% for i in a %}
    <td>{{i.username}}</td>
    <td>{{i.mail}}</td>
    <td>{{i.contact}}</td>
    <td><a href="useremove/{{i.id}}/">Delete</a></td>
    {% endfor %}
  </tr>
</table>

</body>
</html>